 
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    
}
ul{
    display: flex;
    list-style: none;
     

}
li{
    padding: 10px;
    font-size: 18px;
    color: aliceblue;
}
.header_text{
    font-size: 25px;
    color: aliceblue;
    padding-left: 5px;
}